
.App {
  text-align: center;
  max-height: 100vh;
  /* background-image: linear-gradient(black, white); */
}

#myCreatedGamesBackground {
  background-image: linear-gradient(black, white);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.uiDividingHeader {
  color: white;
  font-size: 24px;
}

.uiheader{
  color: white;
  font-size: 30px;
  font-weight: 600;
}

.organizeHeader {
  color: white;
  font-size: 30px;
}

#cityDropdown {
  border-color: white;
}

#dropDownSubmit {
  border-color: white;
}

.App-header {
  background-color: #282c34;
  background-image: url(https://cdn.shopify.com/s/files/1/1381/1501/products/30027-00-rfr-sports-balls-on-white-background_1600px_1_1024x1024.jpg?v=1468448150);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navBarButtons {
  border-radius: 1px;
  border-color: black;
  color: white;
}

.emoji {
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

.emoji:hover{
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.navBarButtons:hover{
  transform: scale(1.02);
}

#organizeButton {
  border-color: black;
  border-radius: 40px
}

#loginButton {
  border-color: black;
  border-radius: 40px
}

#basketballCardBackground {
  background-image: url(https://images-na.ssl-images-amazon.com/images/I/81Q%2Bb%2BLnDbL._SL1125_.jpg);

  background-attachment: fixed;
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-size: cover;

}

#baseballCardBackground {
  background-image: url(https://images2.alphacoders.com/529/thumb-1920-529289.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: contain; */

}

#golfCardBackground {
  background-image: url(https://cdn.wallpapersafari.com/40/31/RIXvde.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

#soccerCardBackground {
  background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/VSO4z5m/soccer-stadium-balls-bouncing-background_41beoefkg__F0000.png);
  background-attachment: fixed;
  background-size: contain;
  background-size: cover;

}

#body {
  background-image: linear-gradient(black, white);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

img {
  height: 15px;
}

.cityHeader {
  color: white;
  font-size: 32px;
}

.homeButton {
  color: white;
  font-size: 16px;
  border-color: white;
}

.gamesHeader {
  color: white;
  font-size: 32px;
}

.App-link {
  color: #61dafb;
}

.my-cards {
  overflow-x: scroll;
  min-height: 100px;
  max-width: 100%;
}

.searchButtons {
  border: none;
  color: white;
  font-size: 24px;
}

#pic {
  width: 400px;
  height: 300px
}

#loginImg {
  width: 400px;
  height: 300px;
}

#myCreatedGamesBackground {
  /* background-color: dodgerblue; */
}

#loginForm {
  margin-left: 30%;
  margin-right: 30%;
}

/* #loginParentDiv {
  background-image: url(https://uproxx.files.wordpress.com/2018/02/mitchell.jpg?quality=100&w=650);
  background-repeat: no-repeat;
  background-size: cover;
} */

#gameform {
  border-radius: 20px;
  max-width: 50%;
  margin: 0 auto;
}

.card {
  border: 5px solid #d3d3d3;
  border-radius: .25rem;
  height: 15em;
  font-size: 2.5vh;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

.card:hover {
  transform: scale(1.07);
}

.bg-img {
  background-size: cover;
  min-height: 180px;
  background-position: center;
  background-color: #ccc;
}

.content {
  padding: 15px;
}

button {
  background-color: transparent;
  border: 1px solid #2196F3;
  padding: .5rem 1rem;
  cursor: pointer;
  border-radius: .25rem;
}

.grid-container {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   grid-gap: 20px;
}

.nav li{
  display: inline;
  border: none;
  padding: 10px;
  margin: 10px;

  list-style-type: none;
  line-height: 4em;
}

.searchButtons:hover{
  transform: scale(1.18);
}

.App-title {
  font-size: 50px;
  font-family: sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
