
.App {
  text-align: center;
  max-height: 100vh;
}

.App-header {
  background-color: #282c34;
  background-image: url(https://cdn.wallpapersafari.com/12/97/ga1jWZ.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#basketballCardBackground {
  background-image: url(https://images-na.ssl-images-amazon.com/images/I/81Q%2Bb%2BLnDbL._SL1125_.jpg);

  background-attachment: fixed;
  /* background-size: contain; */
  background-repeat: no-repeat;

}

#baseballCardBackground {
  background-image: url(https://images2.alphacoders.com/529/thumb-1920-529289.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* background-size: contain; */

}

#golfCardBackground {
  background-image: url(https://cdn.wallpapersafari.com/40/31/RIXvde.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;

}

#soccerCardBackground {
  background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/VSO4z5m/soccer-stadium-balls-bouncing-background_41beoefkg__F0000.png);
  background-attachment: fixed;
  background-size: contain;

}

img {
  height: 15px;

}

.App-link {
  color: #61dafb;
}

.my-cards {
  overflow-x: scroll;
  min-height: 100px;
  max-width: 100%;
}

.searchButtons {
  border: none;
}

#gameform {
  border-radius: 20px;
  max-width: 50%;
  margin: 0 auto;
}

.card {
  border: 5px solid #d3d3d3;
  border-radius: .25rem;
}

.bg-img {
  background-size: cover;
  min-height: 180px;
  background-position: center;
  background-color: #ccc;
}

.content {
  padding: 15px;
}

button {
  background-color: transparent;
  border: 1px solid #2196F3;
  padding: .5rem 1rem;
  cursor: pointer;
  border-radius: .25rem;
}

.grid-container {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   grid-gap: 20px;
}

.nav li{
  display: inline;
  border: solid 1px black;
  padding: 10px;
  margin: 10px;

  list-style-type: none;
  line-height: 4em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
